<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Statics/tareas.css">
</head>
<body>
    <h1>Lista de Tareas</h1>
    <div id="botones">
        <button class="boton" id="añadir">Añadir</button>
        <br>
        <button class="boton" id="eliminar">Eliminar</button>
    </div>
    <br>
    <div id="contenedor"></div>
    <script src="../Dynamics/creaTarea.js"></script>
</body>
</html>